@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Anybody", Sans-serif;
}

.opacity-transition {
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.blurred {
  opacity: 0;
  transform: translateY(-50px) scale(1.2);
  filter: blur(10px);
}

.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

@keyframes seta-sec-two {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.seta-sec-two {
  animation: seta-sec-two 1.5s infinite ease-in-out;
}

@layer components {
  .entradaesquerda {
    @apply opacity-0 blur-lg transform translate-y-0 -translate-x-[200px] scale-100 rotate-45 transition-all ease-in duration-700;
  }

  .entradadireita {
    @apply opacity-0 blur-lg transform translate-y-0 translate-x-[200px] scale-100 -rotate-45 transition-all ease-in duration-700;
  }

  .entradacima {
    @apply opacity-0 blur-lg transform translate-y-[50px] translate-x-0 scale-100 rotate-0 transition-all ease-in duration-700;
  }

  .entradabaixo {
    @apply opacity-0 blur-lg transform -translate-y-[50px] translate-x-0 scale-100 rotate-0 transition-all ease-in duration-700;
  }

  .entradacomdesfoqueezoomaumentando {
    @apply opacity-0 blur-lg transform translate-y-0 translate-x-0 scale-0 rotate-0 transition-all ease-in duration-700;
  }

  .entradacomdesfoqueezoomdiminuindo {
    @apply opacity-0 blur-[18px] transform translate-y-0 translate-x-0 scale-150 rotate-0 transition-all ease-in duration-700;
  }

  .exibir {
    @apply opacity-100 blur-0 transform translate-y-0 translate-x-0 scale-100 rotate-0 transition-all ease-in duration-700;
  }
}

.clip-path-custom {
  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
}

.borda-container-sec-tree {
  border-image: linear-gradient(to bottom left, #ded405 0%, transparent 90%) 1;
}

.item-acordeao {
  margin: 1.2rem 0;
  cursor: pointer;
}

.cabecalho-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  min-height: 80px;
  padding: 16px 16px;
  background: linear-gradient(to right, #6d38ad, #39030300);
}
.img-seta {
  max-width: 16px;
  max-height: 16px;
}

.cabecalho-item--reverse {
  display: flex;
  justify-content: space-between;
  align-item: center;
  gap: 4px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  min-height: 80px;
  padding: 16px 16px;
  background: linear-gradient(to left, #6d38ad, #39030300);
}

.img-seta {
  text-align: center;
  max-width: 16px;
  max-height: 16px;
}

.aberto .cabecalho-item {
  background: linear-gradient(to right, #6d38ad, #39030300);
  color: black;
}

.aberto .cabecalho-item--reverse {
  background: linear-gradient(to left, #6d38ad, #39030300);
  color: black;
}

.cabecalho-item::after {
  content: "\2bc6";
  display: none;
  color: white;
}

.aberto .cabecalho-item::after {
  content: "\2bc5";
  display: none;
}

.corpo-item {
  display: none;
  padding: 2.4rem 3.2rem;
  color: white;
  background: linear-gradient(to right, #6d38ad, #39030300);
}

.corpo-item--reverse {
  display: none;
  padding: 2.4rem 3.2rem;
  color: white;
  background: linear-gradient(to left, #6d38ad, #39030300) !important;
}

.aberto .corpo-item {
  display: block;
}
