@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Anybody", Sans-serif;
}

.clip-path-custom {
  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
}

.borda-container-sec-tree {
  border-image: linear-gradient(to bottom left, #ded405 0%, transparent 90%) 1;
}

.item-acordeao {
  margin: 1.2rem 0;
  cursor: pointer;
}

.cabecalho-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  min-height: 80px;
  padding: 16px 16px;
  background: linear-gradient(to right, #6d38ad, #39030300);
}
.img-seta {
  max-width: 16px;
  max-height: 16px;
}

.cabecalho-item--reverse {
  display: flex;
  justify-content: space-between;
  align-item: center;
  gap: 4px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  min-height: 80px;
  padding: 16px 16px;
  background: linear-gradient(to left, #6d38ad, #39030300);
}

.img-seta {
  text-align: center;
  max-width: 16px;
  max-height: 16px;
}

.aberto .cabecalho-item {
  background: linear-gradient(to right, #6d38ad, #39030300);
  color: black;
}

.aberto .cabecalho-item--reverse {
  background: linear-gradient(to left, #6d38ad, #39030300);
  color: black;
}

.cabecalho-item::after {
  content: "\2bc6";
  display: none;
  color: white;
}

.aberto .cabecalho-item::after {
  content: "\2bc5";
  display: none;
}

.corpo-item {
  display: none;
  padding: 2.4rem 3.2rem;
  color: white;
  background: linear-gradient(to right, #6d38ad, #39030300);
}

.corpo-item--reverse {
  display: none;
  padding: 2.4rem 3.2rem;
  color: white;
  background: linear-gradient(to left, #6d38ad, #39030300) !important;
}

.aberto .corpo-item {
  display: block;
}
